/* =============
    Contact Hero
============= */

#contact-hero {
    background-color: $black;
    margin-top: -100px;

    >div {
        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }

        h1 {
            color: $white;
            text-align: center;
            padding: 20px;
            margin-bottom: 20px;
            font-family: 'Kanit', sans-serif;
            font-weight: 700;
            font-size: rem-calc(40);
        }
    }
}

#contact-map {

    #map {
        width: 100%;
        height: 400px;
        background-color: $grey;
    }

}

#contact-form {
    background-color: $grey;

    #form-container {

        form {
            display: grid;
            gap: 20px;
            margin: 20px;
            padding: 50px;

            @include md {
                grid-template-columns: repeat(2 1fr);
                grid-template-areas:
                    "name email"
                    "message message"
                    ". send";
            }

            section {

                background-color: $white;
                width: 96%;
                padding: 0 2%;
                border: solid 1px $black;

                input {
                    border: none;
                    width: 100%;
                    padding: 4% 0;
                }

                textarea {
                    border: none;
                    height: 300px;
                    width: 100%;
                    padding: 0;
                }
            }

            section:nth-child(1) {
                @include md {
                    grid-area: name;
                }
            }

            section:nth-child(2) {
                @include md {
                    grid-area: email;
                }
            }

            section:nth-child(3) {
                @include md {
                    grid-area: message;
                }
            }

            section:nth-child(4) {
                @include md {
                    grid-area: send;
                }

                background-color: transparent;
                text-align: right;
                border: none;

                button {
                    border: none;
                }
            }
        }
    }
}