/* =============
    Header
============= */
header {
    position: relative;
    z-index: 100;
    background-color: #00060B;
    // opacity: .7;




    div {

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        #logo-container {
            padding: 10px 0;

            img {
                width: 30px;
                

            }

            @include md {
                width: initial;
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            justify-content: flex-end;


            #burger {
                cursor: pointer;
                transition: 0.25s;

                #lines {
                    transition: 0.25s;
                    stroke: $red !important;
                }

                &:hover {
                    #lines {
                        stroke: $white !important;
                    }
                }
            }
        }
    }
}