/* =============
    Buttons
============= */
button {
    transition: 0.25s;
}

.black-button {
    background-color: $black;
    color: $white;
    border-radius: 8px;
    font-weight: 700;
    font-size: rem-calc(18);
    padding: 13px 20px;
    display: inline-block;

    @include md {
        font-size: rem-calc(20);
        padding: 14px 35px;
    }

    @include md {
        font-size: rem-calc(24);
        padding: 16px 40px;
    }

    &:hover {
        background-color: $red;
    }
}