/* =============
    Navigation
============= */

.hide-nav-buttons {
    display: none;
}

.show-nav-buttons {
    display: block !important;
}


#main-nav {
    background-color: $black;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 90;

    ul {
        li {

            a:link,
            a:visited {
                border-bottom: 1px solid $white;
                color: $red;
                display: inline-block;
                font-size: rem-calc(25);
                padding: 20px 0 20px 10px;
                width: 100%;

                @include md {
                    font-size: rem-calc(40);
                }

                @include lg {
                    font-size: rem-calc(50);
                }

                @include xl {
                    font-size: rem-calc(60);
                }

                i {
                    color: $white;
                    font-size: rem-calc(15);
                    margin-right: 10px;

                    @include md {
                        font-size: rem-calc(20);
                    }

                    @include lg {
                        font-size: rem-calc(30);
                    }

                    @include xl {
                        font-size: rem-calc(40);
                    }
                }

                &:hover,
                &:active {
                    background-color: $white;

                    i {
                        color: $red;
                    }
                }
            }
        }
    }
}